<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ru.exam.ruzana.repository.PersonDataRepository">

    <resultMap id="personEntity" type="ru.exam.ruzana.model.PersonDataEntity"
               autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>
    <insert id="insert">
        insert into person_data (last_name, first_name, email, password, disabled, birth_dt, age, sex)
        values (#{lastName}, #{firstName}, #{email}, #{password}, #{disabled}, #{birthDt}, #{age}, #{sex});
    </insert>

    <update id="update">
        update person_data set last_name       = #{lastName},
                               first_name      = #{firstName},
                               birth_dt        = #{birthDt},
                               age             = #{age},
                               sex             = #{sex}
        where id = #{id};
    </update>
    <update id="deleteById">
        update person_data set disabled = true;
    </update>

</mapper>
